import Inner, { MessageEvent } from './Inner';

export default function _() {
    function handleClick(event) {
        alert(event.target.textContent);
    };

    <Inner onClick={handleClick} />
}