import { css } from "emotion";

export default function _() {
    const style = css`
        color: purple;
        font-family: 'Comic Sans MS', cursive;
    `;
    <p class={style}>This is a paragraph.</p>
}